html, body {
  height: 100%; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-size: 100%; }

body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
  position: relative;
  cursor: default;}

img {
  max-width: 100%;
  height: auto;
  margin-top: auto;
  display: inline-block;
  vertical-align: bottom; 
  margin-top: 20px;}
  
.container {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  background: #E9E9E9;
  border: solid;
  border-width: 1px;
  border-color: #808080;
  width: 50%;
  float: left;
}

.imageContainer {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  background: #E9E9E9;
  float: left;
  width: 16.66667%;
}

.textContainer {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  background: #E9E9E9;
  float: left;
  width: 83.33333%;
}